version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      NODE_ENV: production
    ports:
      - '3000:3000'
    restart: unless-stopped
    volumes:
      - ./media:/app/media
      - ./gp-invest.db:/app/gp-invest.db
    networks:
      - main-net

networks:
  main-net:
    external: true
